APP_NAME=Caredoc
APP_ENV=local
APP_KEY=base64:MxCdK8XXAijbw4uwPAC26xXTMp2wGIhBBP6Stnmg+NU=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=caredoc-local
DB_USERNAME=root
DB_PASSWORD=caredoc

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=465
MAIL_USERNAME=cgg01082000@gmail.com
MAIL_PASSWORD=kvqcbpivuujhjlhx
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CHATBOT_URL = "https://api.edenai.run/v2/text/chat"
CHATBOT_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZDhhOTZmMjYtZjg0Yy00ZjIxLWFhOTAtYjU3ZTA2ODYyYjU3IiwidHlwZSI6ImFwaV90b2tlbiJ9.jub2YQm5ybZXtb7lWzSa5HhMPuq0FmP5GtVC8fO7WfM"
